.introducao-bg{
    background: var(--cor-1);
}
.introducao{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}
.introducao-conteudo{
    position: absolute;
    text-align: center;
    color: var(--cor-1);
    display: grid;
    gap: 50px;
}
.introducao-conteudo span{
    text-transform: uppercase;
}
.introducao-conteudo h1{
    text-transform: capitalize;
    font: 500 5.875rem/1.2 'Poppins', sans-serif;
    width: auto;
}
.introducao img{
    border-radius: 25px;
}

@media(max-width:1000px){
    .introducao-conteudo{
        gap: 25px;
    }
    .introducao-conteudo h1{
        font-size: 4.875rem;
    }
}
@media(max-width:850px){
    .introducao-conteudo h1{
        font-size: 3.875rem;
    }
}

@media(max-width:600px){
    .introducao-conteudo{
        gap: 15px;
    }
        .introducao-conteudo h1{
        font-size: 2.4rem;
    }
}