.introducao-bg{
    background: var(--cor-1);
    padding: 5px 30px;
}
.introducao{
    background-image: url(../../img/img-destaque/ducati-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 210px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    border-radius: 25px;
}
.introducao span{
    text-transform: uppercase;
}
.introducao h1{
    font: 500 5.875rem/1.2 'Poppins', sans-serif;
}
@media (max-width: 1300px) {
    .introducao{
        gap: 25px;
        border-radius: 20px;
        padding: 150px;
    }
    .introducao h1{
        font-size: 4.875rem;
    }
}
@media (max-width: 850px) {
    .introducao span{
        font-size: 1.125rem;
    }
        .introducao h1{
        font-size: 3.875rem;
    }
}
@media (max-width: 600px) {
    .introducao{
        gap: 10px;
    }
        .introducao h1{
        font-size: 2.5rem;
    }
}